@import '../../scss/vars';
.wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.inner {
  border: 1px solid $text_basic;
  border-radius: 5px;
  flex-basis: 640px;
  padding: 61px 70px 68px 70px;
  color: $text_basic;
}

.logo {
  margin-bottom: 32px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 29px;
}

.innerLink {
  display: flex;
  gap: 14px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.innerLinkNon {
  display: block;
}

.text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $button_1;
}

.linkInner {
  display: flex;
  align-items: center;
  gap: 17px;
}

@media (max-width: 1170px) {
  .inner {
    flex-basis: 580px;
    padding: 61px 60px 68px 60px;
  }
}

@media (max-width: 1024px) {
  .inner {
    flex-basis: 540px;
    padding: 61px 50px 68px 50px;
  }
}

@media (max-width: 580px) {
  .wrap {
    align-items: flex-start;
  }
  .wrap {
    padding: 18px 17px 0 17px;
  }
  .inner {
    border: none;
    flex-basis: 100%;
    padding: 0;
  }

  .logo {
    margin-top: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  .title {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 35px;
  }

  .innerLink {
    display: none;
  }

  .text {
    font-size: 16px;
    line-height: 24px;
  }
  .link {
    font-size: 16px;
    line-height: 24px;
  }
}
