@import '../../scss/vars';

.label {
  margin-bottom: 50px;
}
.text {
  font-weight: 500;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 36px;
}

.errorMessage {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $error;
  margin-bottom: 50px;
}

@media (max-width: 580px) {
  .text {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 32px;
  }
}

@media (max-width: 580px) {
  .text {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 22px;
  }
  .inner {
    gap: 24px;
  }
}
