.platformWrap {
  margin-bottom: 110px;
}

.platformInner {
  display: flex;
  gap: 27px;
  margin-bottom: 40px;
}

.sort {
  min-width: 289px;
}

.platformsCards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 25px;
}

.platformWrap [btn] {
  background-color: red;
}

.btn {
  max-width: 242px;
  margin-bottom: 120px;
  position: relative;
  left: 100%;
  transform: translate(-100%, 0);
}
