@import '../../../scss/vars';

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background-color: $white;
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12),
    0px 8px 24px -4px rgba(24, 39, 75, 0.08);
  border-radius: 17px;
  height: 70px;
  max-width: 658px;
  padding: 7px 7px 7px 17px;
  margin: -35px auto;
  margin-bottom: 110px;
}

.input {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $black;
  outline: none;
  flex-basis: 450px;
  &::placeholder {
    color: #bfc1c8;
  }
}

.btn {
  width: 140px;
}
