@import '../../../scss/vars';
.headerTop {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text;
}

.logo {
  font-size: 32px;
}

.innerControl {
  display: flex;
  gap: 16px;
}

.UserPanel {
  position: relative;
}

.userName {
  cursor: pointer;
  height: 46px;
  width: 46px;
  background: #0176d3;
  border-radius: 50%;
  color: $bg;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.naw {
  display: flex;
  justify-content: center;
  gap: 45px;
  margin-bottom: 40px;
}

.nawItem {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #bfc1c8;
  cursor: pointer;
  transition: all 0.9s;
  &:hover {
    transition: all 0.9s;
    color: #032d60;
  }
}

.active {
  color: #032d60;
  font-weight: 500;
}
