@import '../../scss/vars';
.inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.errorMessage {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $error;
}
