@import '../../../scss/vars';
.wrap {
  position: relative;
}
.input {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: $border;
  border: 1px solid $border;
  border-radius: 5px;
  height: 60px;
  width: 100%;
  outline: none;
  padding: 23px 60px 17px 32px;
  &:focus {
    border: 2px solid $button_1;
    & + label {
      top: 5px;
      left: 32px;
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.label {
  transition: all 0.4s;

  position: absolute;
  left: 32px;
  top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $border;
  &::after {
    margin-left: 8px;
    content: '*';
    color: $error;
    width: 12px;
    height: 28px;
  }
}

.setlabel {
  top: 5px;
  left: 32px;
  font-size: 12px;
  line-height: 16px;
}

.eye {
  cursor: pointer;
  top: 20px;
  right: 32px;
  position: absolute;
  svg {
    display: block;
    width: 19px;
    height: 20px;
  }
}

.lastname,
.ferstname {
  &:focus {
    & + label {
      color: #909473;
    }
  }
}

.setlabelName {
  color: #909473;
}

.eldiz::after {
  content: '';
}

.errorInput {
  border: 2px solid $error;
  &:focus {
    border: 2px solid $error;
  }
}

.errorLabel {
  color: $error;
}

.okInput {
  background-color: #cdd8f2;
  border: 1px solid $button_1;
}

@media (max-width: 580px) {
  .input {
    height: 56px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding: 18px 16px 19px 23px;
    &:focus {
      & + label {
        font-size: 10px;
        line-height: 14px;
      }
    }
  }

  .label {
    font-size: 16px;
    line-height: 24px;
    top: 15px;
    left: 25px;
  }

  .setlabel {
    top: 11px;
    left: initial;
    right: 40px;
    font-size: 10px;
    line-height: 14px;
  }

  .eye {
    right: 20px;
    top: 20px;
  }
}
