@import '../../scss/vars';

.wrapper {
  position: relative;
  max-width: 1438px;
  width: 100%;
  padding: 0 1px 200px 1px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 110px;
  margin-bottom: 48px;
}

.logo {
  padding: 10px 55px;
  margin-right: 93px;
  background: $white;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-size: 28px;
  line-height: 30px;
}

.userLogo {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(315deg, #000000 27.6%, #8bb1ea 100%);
  border-radius: 50%;
  color: $white;
  font-size: 28px;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 267px;
}

.link {
  border-right: 2px solid #737475;
  color: #737475;
  &:last-child {
    border-right: none;
  }
}

.activeLink {
  border: 2px solid $white;
  color: $white;
}

.item {
  padding: 60px 30px;
  background: $total_black;
  height: 100%;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: inherit;
  border: none;
}

.avatarContainer {
  display: flex;
  margin-bottom: 115px;
}

.avatar {
  margin-right: 35px;
  //   width: 331px;
  //   height: 331px;
  //   border-radius: 50%;
  // TODO Добавить стили после того, как дизайнеры дадут квадратную картинку
}

.avatarButton {
  padding: 18px 47px 18px 32px;
  margin-block: 132px 36px;
  background: $light_blue;
  border-radius: 15px;
  border: none;
  font-size: 28px;
  line-height: 30px;
}

.editContainer {
  display: flex;
  align-items: center;
}

.text {
  margin-right: 10px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: $text;
}

.informationContainer {
  display: flex;
  flex-direction: column;
  gap: 76px;
  margin-bottom: 77px;
}

.row {
  display: flex;
  align-items: center;
}

.title {
  max-width: 331px;
  width: 100%;
  margin-right: 35px;
  font-size: 32px;
  line-height: 39px;
  color: $text;
}

.inputsWrapper {
  max-width: 707px;
  width: 100%;
  display: flex;
  gap: 22px;
  margin-right: 24px;
}

.inputName {
  width: 50%;
}

.inputsGeneral {
  padding: 16px 18px;
  background: $white;
  border: 1px solid #7bb3d2;
  border-radius: 10px;
  font-size: 32px;
  line-height: 39px;
  color: $text;
  outline: none;

  &:focus {
    border: 1px solid #3d6c97;
  }
}

.inputError {
  border: 1px solid $error;
}

.inputOk {
  border: 1px solid #34a853;
}

.inputEmail {
  width: 100%;
}

.select {
  max-width: 707px;
  width: 100%;
  padding: 16px 18px;
  background-color: $white;
  border: 1px solid #7bb3d2;
  border-radius: 10px;
  font-size: 32px;
  line-height: 39px;
  color: $text;
  outline: none;
  appearance: none;
  background-image: url('../../assets/AccountIcons/arrow.svg');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 24px);
  background-position-y: 30px;
}

.badgesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
  align-items: end;
  row-gap: 41px;
  column-gap: 121px;
  margin-block: 61px 65px;
}

.badgeWrapper {
  display: flex;
  align-items: center;
  min-width: 244px;
  height: 46px;
  padding: 8px 12px;
  border-radius: 10px;
  background: $light_blue;
}

.badge {
  flex-grow: 1;
  text-align: center;
  font-size: 28px;
  line-height: 30px;
  color: $text;
}

.badgeButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBadge {
  width: 79px;
  height: 79px;
  padding: 20px;
  background: $light_blue;
  border-radius: 50%;
}

.save {
  position: absolute;
  right: 65px;
  padding: 20px 94.5px;
  border-radius: 15px;
  background: $total_black;
  color: #f5f3f3;
  font-size: 28px;
  line-height: 30px;

  &:disabled {
    background: #737475;
  }
}
