@import '../../scss/vars';
.errorMessage {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $error;
}

.passwordInfo {
  margin-top: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $button_1;
}
