@import '../../scss/vars';
.passwordInfo {
  margin-top: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $button_1;
}

.innerInput {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.errorMessage {
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: $error;
}

.innerName {
  display: flex;
  gap: 19px;
  justify-content: space-between;
}

.btn {
  margin-top: 28px;
}

@media (max-width: 580px) {
  .innerInput {
    gap: 15px;
  }
  .innerName {
    flex-direction: column;
    gap: 15px;
  }
  .errorMessage,
  .passwordInfo {
    margin-top: 6px;
    font-size: 10px;
    line-height: 110%;
  }
  .checkbox {
    input {
      width: 14px;
      height: 16px;
    }
    gap: 10px;
    margin-bottom: 25px;
    span {
      font-size: 16px;
    }
  }
  .errorMessage {
    margin-top: 6px;
    font-size: 10px;
    line-height: 16px;
  }
}
