@import '../../scss/vars';

.errorMessage {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $error;
}

.passwordInfo {
  margin-top: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $button_1;
}

.innerInput {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.innerName {
  display: flex;
  gap: 23px;
}

.checkbox {
  input {
    width: 24px;
    height: 24px;
  }
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 49px;
  span {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
  }
}
