@import '_vars.scss';
@import '_media.scss';

html,
body {
  height: 100%;
}

body {
  font-family: 'Inter', Roboto, system-ui, Tahoma, sans-serif;
  font-weight: 500;
  background-color: $bg;
  margin: 0 auto;
}


